{% load static %}
<footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Lien</h4>
  	 			<ul>
  	 				<li><a href="#">Elèves</a></li>
  	 				<li><a href="#">Module</a></li>
  	 				<li><a href="#">Cours</a></li>
					<li><a href="#">Absence</a></li>
					<li><a href="#">Elève Autoriser à composer un devoir</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Aide</h4>
  	 			<ul>
  	 				<li><a href="#">Nous Contactez</a></li>
  	 				<li><a href="#">Page d'acceuil</a></li>
  	 				<li><a href="#">Fonctionnement du site</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Suivez-Nous</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
					<h4 class="display-5 font-weight-light mb-2">
                       Ecole Polytechnique  de Ouagadougou
					</h4>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>